{
  "images" : [
{{#items}}
    {
      "idiom" : "universal",
      "filename" : "{{filename}}"{{#scale}},
      "scale" : "{{.}}"{{/scale}}
    }{{#unless @last}},{{/unless}}
{{/items}}
  ],
  "info" : {
    "version" : 1,
    "author" : "design-ops"
  },
  "properties" : {
    "template-rendering-intent" : "original"
  }
}